# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/

# Packaging / build artifacts
*.egg-info/
dist/
build/

# Test / lint caches
.pytest_cache/
.ruff-cache/

# --------------------
# Environment secrets
# --------------------
.env
.env.*

# --------------------
# Docker
# --------------------
# (usually nothing generated, but just in case)
*.log

# --------------------
# OS / Editor
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# --------------------
# Frontend (Vite – future)
# --------------------
node_modules/
dist/

#aws
aws
awscliv2.zip
# Frontend local tooling
frontend/aws/
frontend/awscliv2.zip


# ignore temp files
reading
starting
=
