services:
  backend:
    build: 
      context: ./backend
      dockerfile: dev.Dockerfile
    ports:
      - "8000:8080"
    env_file:
      - .env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
